# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# ===== Virtual Environment =====
env/
venv/
.venv/
ENV/

# ===== Environment Variables (MOST IMPORTANT - never push this) =====
.env
.env.*

# ===== Django =====
*.sqlite3
/staticfiles/

# ===== Media files =====
/media/
echo media/
echo staticfiles/

# ===== OS files =====
.DS_Store
Thumbs.db
desktop.ini

# ===== VS Code / IDE =====
.vscode/
.idea/
*.code-workspace